pre {
    padding-left: 20px;
}

.quote {
    margin-bottom: 25px;
}

.bold {
    font-weight: bold;
}

.last-seen {
    color: #ddd;
}

.no-quotes {
    margin-bottom: 20px; width: 100%;
}

.nowrap {
    white-space: nowrap;
}