<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}base template title{% endblock %}</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div style="width: 100%; font-align: center;">
      <div style="width: 700px; margin-left: auto; margin-right: auto;" >
      {% block content %}
      base template content
      {% endblock %}
      </div>
    </div>
    <script type="text/javascript" src="/static/bootstrap.min.js">
  </body>
</html>
