{% extends 'quotes/base.html' %}

{% block title %}Slashdot Quotes Database{% endblock %}

{% block content %}
<h1><a id="header" href="{% url quotes.views.index %}">Slashdot Quotes Database</a></h1>
<p>This is a simple webinterface for a database containing quotes gathered
from the <a href="http://slashdot.org/">Slashdot website</a>.</p>
<hr />
  <div class="fill">
    <div class="center">
      <div class="search">
	<form method="GET" action="{% url quotes.views.index %}">
	  <input type="text" name="search" value="{{ search }}" />
	  <input type="submit" value="Search" />
	</form>
      </div>
      <span class="paginator">
	{% include 'quotes/paginator.html' %}
      </span>
      {% if quotes %}
      <table id="quotes">
	<tr class="top">
	  <th>Created</th>
	  <th>Quote</th>
	</tr>
	{% for quote in quotes %}
	<tr class="{% cycle 'odd' 'even' %}">
	  <td class="created">{{ quote.created|date:'H:i d-m-h' }}</td>
	  <td class="quote"><pre>{{ quote.quote }}</pre></td>
	</tr>
	{% endfor %}
	<tr class="bottom">
	  <th>Created</th>
	  <th>Quote</th>
	</tr>
      </table>
      {% else %}
      <p>No quotes in the database.</p>
      {% endif %}
      <span class="paginator">
	{% include 'quotes/paginator.html' %}
      </span>
    </div>
  </div>
<hr />
{% endblock %}
