{% if page > 1 %}
  <a class="paginator_link" href="{% url quotes.views.index 1 %}{% if search %}?search={{ search }}{% endif %}">&lt;&lt; first</a>
  <span class="paginator_separator">|</span>							      
  <a class="paginator_link" href="{% url quotes.views.index page|add:"-1" %}{% if search %}?search={{ search }}{% endif %}">&lt; prev</a>
{% else %}
  <span class="paginator_disabled">&lt;&lt; first</span>
  <span class="paginator_separator">|</span>
  <span class="paginator_disabled">&lt; prev</span>
{% endif %}
<span class="paginator_separator">|</span>
{% for p in pagelist %}
  {% if p == page %}
    <span class="paginator_disabled">{{ p }}</span>
  {% else %}
    <a class="paginator_link" href="{% url quotes.views.index p %}{% if search %}?search={{ search }}{% endif %}">{{ p }}</a>
  {% endif %}
  {% if not forloop.last %}
    <span class="paginator_separator">|</span>
  {% endif %}
{% endfor %}
<span class="paginator_separator">|</span>
{% if page < pagecount %}
  <a class="paginator_link" href="{% url quotes.views.index page|add:"1" %}{% if search %}?search={{ search }}{% endif %}">next &gt;</a>
  <span class="paginator_separator">|</span>
  <a class="paginator_link" href="{% url quotes.views.index pagecount %}{% if search %}?search={{ search }}{% endif %}">last &gt;&gt;</a>
{% else %}
  <span class="paginator_disabled">next &gt;</span>
  <span class="paginator_separator"></span>
  <span class="paginator_disabled">last &gt;&gt;</span>
{% endif %}
