{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'quotes/style.css' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}base template title{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      {% block content %}
      base template content
      {% endblock %}
    </div>
  </body>
</html>
