{% load static %}
{% load spacify %}
{% load slice_pages %}
{% load endless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="A database of Slashdot quotes" />
    <meta name="keywords" content="slashdot,quotes,slashdot quotes" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="{% static 'quotes/style.css' %}" rel="stylesheet" type="text/css" />
    <title>Slashdot Quotes</title>
  </head>
  <body>
    <nav class="navbar nav navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-brand hidden-xs hidden-sm">Slashdot Quotes</div>
        <ul class="nav navbar-nav">
          <li{% if not random %} class="active"{% endif %}>
            <a href="{% url 'index' %}">
              <i class="glyphicon glyphicon-star"></i>
              <span>Latest</span>
            </a>
          </li>
          <li{% if random %} class="active"{% endif %}>
            <a href="{% url 'random' %}">
              <i class="glyphicon glyphicon-random"></i>
              <span>Random</span>
            </a>
          </li>
        </ul>
        <div class="navbar-right collapse navbar-collapse">
          <p class="navbar-text">Currently contains <b>{{ quotecount }}</b> quotes.</p>
          <form class="search-form navbar-form navbar-right{% if form.errors %} has-error{% endif %}"
                method="GET" role="search" action="{% url 'index' %}">
            {% if quotes.form.errors %}
            <p class="navbar-text">{{ quotes.form.search.errors }}</p>
            {% endif %}
            <div class="form-group">
              <div class="navbar-input-group">
                <input type="text" name="{{ quotes.form.quote.html_name }}" class="form-control"
                       placeholder="Search" value="{{ quotes.form.quote.value|default:'' }}" />
                <button type="submit" class="btn btn-default">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      {% for message in messages %}
      <div class="alert {% if message.level > 25 %}alert-danger{% else %}alert-success{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
      {% if quotes %}
        {% paginate 20 quotes %}
        {% get_pages %}
        {% for quote in quotes %}
          <div class="well"
               data-first-seen="{{ quote.created|date:'Y-m-d H:i:s' }}">
            {{ quote.quote|spacify|linebreaksbr }}
          </div>
        {% endfor %}
        {% if random %}
        <div class="row center bottom-row">
          <a href="{% url 'random' %}" class="btn btn-success">
            <i class="glyphicon glyphicon-refresh"></i>
            Reload
          </a>
        </div>
        {% else %}
        {% if pages.paginated %}
        <div class="row center hidden-xs">
          <ul class="pagination">
            <li{% if not pages.previous %} class="disabled"{% endif %}>
              {% if pages.previous %}
              {{ pages.previous }}
              {% else %}
              <a rel="page" class="endless_page_link">&lt;</a>
              {% endif %}
            </li>
            {% for page in pages|slice_pages %}
              {% if forloop.first and not pages.first.number == page.number %}
              <li><a>...</a></li>
              {% endif %}
              <li>
                {{ page }}
              </li>
              {% if forloop.last and not pages.last.number == page.number %}
              <li><a>...</a></li>
              {% endif %}
            {% endfor %}
            <li{% if not pages.next %} class="disabled"{% endif %}>
              {% if pages.next %}
              {{ pages.next }}
              {% else %}
              <a rel="page" class="endless_page_link">&gt;</a>
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="row center visible-xs">
          <ul class="pager">
            <li class="previous{% if not pages.previous %} disabled{% endif %}">
              {% if pages.previous %}
              {{ pages.previous }}
              {% else %}
              <a rel="page" class="endless_page_link">&lt;</a>
              {% endif %}
            </li>
            <li>Page <b>{{ pages.current }}</b> of <b>{{ pages|length }}</b></li>
            <li class="next{% if not pages.next %} disabled{% endif %}">
              {% if pages.next %}
              {{ pages.next }}
              {% else %}
              <a rel="page" class="endless_page_link">&gt;</a>
              {% endif %}
            </li>
          </ul>
        </div>
        {% endif %}
      {% endif %}
      {% else %}
      <div class="alert alert-warning">
        {% if quotes.form.quote.value %}
        <p>No quotes on the given search string found.</p>
        {% else %}
        <p>No quotes found.</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </body>
</html>