{% extends 'quotes/base.html' %}

{% block title %}Slashdot Quotes{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2>Slashdot Quotes</h2>
    </div>
    <div class="col-12 visible-lg">
      <p>
          This is a simple webinterface for a database containing quotes gathered
          from the <a href="http://slashdot.org/">Slashdot website</a>.
      </p>
      <p>This database contains <span class="bold">{{ total_quotes }}</span> quotes.</p>
    </div>
  </div>
<div class="row">
  <div class="col-7 col-lg-3">
    <form name="search-form" class="form-search" method="GET" action="{% url 'quotes.views.index' %}">
      <div class="input-group">
	    <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="Search..." />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
              <i class="icon-white icon-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <div class="col-5 col-lg-9 text-right">
    <div class="btn-group">
      {% if random %}
      <a href="{% url 'quotes.views.random' %}"
         class="btn btn-success">
        <i class="hidden-lg icon-refresh icon-white"></i>
        <span class="visible-lg"><i class="icon-refresh icon-white"></i>Reload</span>
      </a>
      {% endif %}
      <a
         {% if not random %}href="{% url 'quotes.views.random' %}"
         {% else %}href="javascript:void(0);"
         {% endif %}
         class="btn btn-primary nowrap {% if random %}disabled{% endif %}">
        <i class="hidden-lg icon-random icon-white"></i>
        <span class="visible-lg"><i class="icon-random icon-white"></i>Random</span>
      </a>
      <a
         href="{% url 'quotes.views.index' %}"
         class="btn btn-danger nowrap {% if index and not search %}disabled{% endif %}">
        <i class="hidden-lg icon-home"></i>
        <span class="visible-lg"><i class="icon-home"></i>Latest</span>
      </a>
    </div>
  </div>
  <div class="clearfix" />
</div>
<div class="col-12">
  <hr />
  {% if quotes %}
    {% for quote in quotes %}
      <div class="quote">
        <div class="last-seen pull-right visible-lg">
          First seen {{ quote.created|timesince }} ago
        </div>
        <pre>{{ quote.quote }}</pre>
      </div>
    {% endfor %}
    {% if random %}
      <a href="{% url 'quotes.views.random' %}" class="btn btn-primary btn-reload btn-block">
        Reload
        <i class="icon-refresh"></i>
      </a>
    {% endif %}
    {% if older %}
      <a style="margin-left: auto; margin-right: auto;"
         class="btn btn-primary btn-block"
         href="{% url 'quotes.views.index' pagenext %}">
        Older
      </a>
    {% endif %}
  {% else %}
  <div class="no-quotes">
    <p>No quotes in the database.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
