{% extends 'base.html' %}

{% block title %}Slashdot Quotes Database{% endblock %}

{% block content %}
<h1>Slashdot Quotes Database</h1>
<p>This is a simple webinterface for a database containing quotes gathered
from the <a href="http://slashdot.org/">Slashdot website</a>.</p>
<hr />
<span style="float: right;">
{% if random %}
<a href="{% url 'quotes.views.random' %}"
   class="btn btn-warning">Reload<i class="icon-refresh icon-white"></i></a>
{% endif %}
<a 
   {% if not random %}href="{% url 'quotes.views.random' %}"
   {% else %}href="javascript:void(0);"
   {% endif %}
   class="btn btn-primary {% if random %}disabled{% endif %}">Random
  <i class="icon-random icon-white"></i>
</a>
<a
   href="{% url 'quotes.views.index' %}"
   class="btn {% if index and not search %}disabled{% endif %}">Latest<i class="icon-chevron-up"></i></a>
</span>
<div style="width: 100%;">
  <div>
    <form name="search-form" method="GET" action="{% url 'quotes.views.index' %}">
      <div class="input-append">
	<input type="text" name="search" value="{{ search }}" placeholder="Search..." />
	<span class="add-on" onclick="document.forms['search-form'].submit();"><i onclick="document.forms['search-form'].submit();" class="icon-search"></i></span>
	<input type="submit" id="form-search" style="display: none;" />
      </div>
    </form>
  </div>
  <div style="clear: both;" />
  {% if quotes %}
  {% for quote in quotes %}
  <div class="quote" style="width: 100%;">
    <div style="float: right; color: #ddd;">
      First seen: {{ quote.created|date:"Y-m-d h:m:s" }}
    </div>
    <pre>
      {{ quote.quote }}
    </pre>
    <div style="clear: both;"></div>
  </div>
  {% endfor %}
  {% if random %}
    <a href="{% url 'quotes.views.random' %}" class="btn btn-reload btn-block">
      Reload
      <i class="icon-refresh"></i>
    </a>
  {% endif %}
  {% if older %}
  <a style="margin-left: auto; margin-right: auto;" class="btn btn-block" href="{% url 'quotes.views.index' pagenext %}">Older</a>
  {% endif %}
  <div style="margin-bottom: 20px; width: 100%;" />
  {% else %}
  <p>No quotes in the database.</p>
  {% endif %}
</div>
{% endblock %}
